@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "./mixins.scss";
@import "./components/card.scss";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
     background-color: #000;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
}

video {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
}